In [11]:
def triple(sequence): # defining the function that I am typing in as 'triple'. This means that I don't have to put in the entire function every time I waant to call. 
    result = [] 
    for element in sequence:      #I am letting python know what I want it to do to every element I have in the 'sequence' section of the function.
        result = result + [element * 3]  #This is telling pyhton that I want the result of the computation to be the numberor numbers in 'element' to be multiplied by three.
    return result  #I am then telling python that I want the result that is printed to be element multiplied by three.
triple([5,9,13])   # I need to input my numbers in both parenthesis and brackets because parenthesis identify the elements while the brackets make the numbers recognizable to the program.

[15, 27, 39]

In [13]:

triple([8,4,16])

[24, 12, 48]

In [12]:
triple ([5,8,64])

[15, 24, 192]

In [16]:
x= ([12,24,2])
triple(x)

[36, 72, 6]

In [15]:
y= ([85,2,75])
triple(y)

[255, 6, 225]

In [19]:
z= ([54,9,7])  # I just assigned the numbers ,'54,9, and 7' to the variable 'z'
triple(z)  #I just told python to triple all of the numbers in the variable 'z'
print(z)   #I now told it to print those variables

[54, 9, 7]

In [20]:
z= triple([5,2,3])
print z

[15, 6, 9]

In [24]:
z= triple([5,2,3])
print repr(z)

[15, 6, 9]